{% extends "base.html" %}

{% block title %}
Feed
{% endblock %}

{% block content %}

<h1>Feed</h1>

<div class="card">

    <form method="POST" action="/feed/create">

        <textarea
            name="content"
            placeholder="What's happening?"
            required
        ></textarea>

        <button type="submit">
            Post
        </button>

    </form>

</div>

{% for post in posts %}

    <div class="card">

        <b>{{ post.username }}</b>

        <p>{{ post.content }}</p>

        <small>{{ post.created_at }}</small>

        <hr>

        <button
            class="like-button"
            data-post-id="{{ post.id }}"
            data-liked="{{ post.liked_by_user }}"
        >
            {% if post.liked_by_user %}
                💔 Unlike
            {% else %}
                ❤️ Like
            {% endif %}
        </button>

        <p>

            Likes:

            <span id="likes-count-{{ post.id }}">
                {{ post.likes_count }}
            </span>

        </p>

        <hr>

        <form method="POST" action="/comments/create/{{ post.id }}">

            <input
                name="content"
                placeholder="Write comment"
                required
            >

            <button type="submit">
                Comment
            </button>

        </form>

        {% for comment in comments %}

            {% if comment.post_id == post.id %}

                <div style="
                    margin-left:20px;
                    margin-top:10px;
                    border-left:2px solid gray;
                    padding-left:10px;
                ">

                    <b>{{ comment.username }}</b>

                    <p>{{ comment.content }}</p>

                    <small>{{ comment.created_at }}</small>

                </div>

            {% endif %}

        {% endfor %}

    </div>

{% endfor %}

{% endblock %}