{% extends "base.html" %}

{% block title %}
Feed
{% endblock %}

{% block content %}

<h1>Feed</h1>

<div class="card">
    <form method="POST" action="/feed/create">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <textarea
            name="content"
            placeholder="What's happening?"
            required
        ></textarea>
        <button type="submit">
            Post
        </button>
    </form>
</div>

{% for post in posts %}

<div class="card">

    <b>{{ post.username }}</b>
    <p>{{ post.content }}</p>
    <small>{{ post.created_at }}</small>

    <hr>

    <button
        class="like-button"
        data-post-id="{{ post.id }}"
        data-liked="{{ post.liked_by_user }}"
    >
        {% if post.liked_by_user %}
            💔 Unlike
        {% else %}
            ❤️ Like
        {% endif %}
    </button>

    <p>
        Likes:
        <span id="likes-count-{{ post.id }}">
            {{ post.likes_count }}
        </span>
    </p>

    <hr>

    <form class="comment-form"
        data-post-id="{{ post.id }}">
        <input
            name="content"
            placeholder="Write comment"
            required
        >
        <button type="submit">
            Comment
        </button>
    </form>

    <div id="comments-container-{{ post.id }}">

        {% for comment in comments_map.get(post.id, [])[:5] %}

            <div class="comment">
                <b>{{ comment.username }}</b>
                <p>{{ comment.content }}</p>
                <small>{{ comment.created_at }}</small>
            </div>

        {% endfor %}

    </div>

    {% if comments_map.get(post.id, [])|length > 3 %}
        <button class="show-more-comments"
                data-post-id="{{ post.id }}"
                data-offset="5">
            Show more comments
        </button>
    {% endif %}

</div>

{% endfor %}

<div style="display:flex; justify-content:space-between; margin-top:20px;">

    {% if has_prev %}
        <a href="/feed/?page={{ page - 1 }}">
            ← Previous
        </a>
    {% else %}
        <span></span>
    {% endif %}

    <span> Page {{ page }}</span>

    {% if has_next %}
        <a href="/feed/?page={{ page + 1}}">
            Next →
        </a>
    {% endif %}
</div>

{% endblock %}